<div class="container-logos">
    <!-- menu de notificaciones -->
    <div class="bell">
      <i class="fa-solid fa-bell fa-3x"></i>
      <span class="badge">0</span>
    </div>
    <!-- Menu de usuario -->
    <div class="user" onclick="toggleMenu()">
      <i class="fa-solid fa-user-gear fa-3x"></i>
    </div>
    <div id="menu" class="menu hidden">
      <ul>
        <li><a href="#"><i class="fas fa-lock"></i> Cambiar contraseña</a></li>
        <li><a href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
      </ul>
    </div>
  </div>

  