<nav>
    <ul>
      <li><a href="menu-instructor">Inicio</a></li>
      <li>
        <a href="controlAula">Control de aulas</a>
      </li>
      <li>
        <a href="#">Préstamo</a>
        <ul class="submenu">
          <li><a href="material">Materiales</a></li>
<li><a href="herramientas">Herramientas</a></li>
<li><a href="ambientes">Ambientes</a></li>
<li><a href="prestamoPcInstructor">Pc</a></li>
        </ul>
      </li>
    </ul>
  </nav>