<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/ambiente.css">
  <%- include('./partials/boostrap.ejs') %>
  <title>Prestamo herramientas SENA</title>
</head>



<body>
  <!--Contenedor de logos-->
  <div class="container-logos">
    <div class="user">
      <i class="fa-solid fa-bell fa-3x"></i>
      <i class="fa-solid fa-user-gear fa-3x"></i>
    </div>
  </div>
  <!--Contenedor de la imagen-->
  <div class="container">
    <img src="/resources/img/logoSena.png" width="200px" class="mx-auto d-block">
  </div>
  <!-- contenedor del menu -->
  <div class="container-menu">
    <nav class="navbar navbar-expand mt-8 text-aling-center">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- contenedor de los elementos del menu  -->
        <div class="container-items">
          <div class="inicio">
            <li class="nav-init active">
              <a class="nav-link text-dark" href="#">INICIO<span class="sr-only">(current)</span></a>
            </li>
          </div>
          <div class="control">
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">CONTROL DE AULAS</a>
            </li>
          </div>
          <div class="prestamo">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle  text-dark" href="#" role="button" data-toggle="dropdown"
                aria-expanded="false">
                PRESTAMOS
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">AMBIENTES</a>
                <a class="dropdown-item" href="#">HERRAMIENTAS</a>
                <a class="dropdown-item" href="#">MATERIALES</a>
              </div>
            </li>
          </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- CONTENEDOR DEL FONDO Y EL LETRERO -->
  <div class="fondo rounded-top">
    <div class="container-letrero rounded-top">
      PRESTAMO
    </div>
    <!-- CONTENEDOR DEL FORMULARIO -->
    <div class="formulario">
      <form class="forma-formulario">
        <h1 class="titulo">Prestamo de ambientes</h1>
<!-- CONTENEDOR FORMULARIO -->
<div>
  <label for="" class="Tipo">N째 de ambiente
  </label>
  </div>

<div class="contenedor-items-formulario">
  <select class="items" aria-placeholder="Default select example">
    <option value="0"></option>
    <option value="1">201</option>
    <option value="2">202</option>
    <option value="3">203</option>
    <option value="4">204</option>
  </select>
</div>

<div class="contenedor-items-formulario">
  <input type="text" class="items" placeholder="a">
  <label for="" class="label">N째 de documento</label>
</div>

 
        <div class="contenedor-items-formulario">
          <input type="text" class="items" placeholder="a">
          <label for="" class="label">N째 de ficha</label>
        </div>

        <div class="contenedor-items-formulario">
          <input type="text" class="items" placeholder="a">
          <label for="" class="label">Jornada</label>
        </div>

        <div class="contenedor-items-formulario">
          <input type="date" class="items" placeholder="a">
          <label for="" class="label"></label>
        </div>

        <div class="contenedor-items-formulario">
          <input type="text" class="items" placeholder="a">
          <label for="" class="label">Programa de formacion</label>
        </div>

        <div class="contenedor-items-formulario">
            <input type="text" class="items-2" placeholder="a" disabled>
            <label for="" class="label">N째 de aprendices</label>
          </div>
  

        <div class="contenedor-items-formulario">
            <select class="items-3" aria-placeholder="Default select example">
              <option value="0"></option>
              <option value="1">10</option>
              <option value="2">20</option>
              <option value="3">30</option>
              <option value="4">40</option>
            </select>
          </div>

        <input type="submit" class="reserva-btn" value="RESERVAR">
        <input type="submit" class="cancelar-btn" value="CANCELAR">
      </form>
    </div>
  </div>
</body>
