<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/aprobar.css">
  <%- include('./partials/boostrap.ejs') %>
  <title>Control de aulas SENA</title>
</head>



<body>
  <!--Contenedor de logos-->
  <div class="container-logos">
    <div class="user">
      <i class="fa-solid fa-bell fa-3x"></i>
      <i class="fa-solid fa-user-gear fa-3x"></i>
    </div>
  </div>
  <!--Contenedor de la imagen-->
  <div class="container">
    <img src="/resources/img/logoSena.png" width="200px" class="mx-auto d-block">
  </div>
  <!-- contenedor del menu -->
  <div class="container-menu">
    <nav class="navbar navbar-expand mt-8 text-aling-center">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- contenedor de los elementos del menu  -->
        <div class="container-items">
          <div class="inicio">
            <li class="nav-init active">
              <a class="nav-link text-dark" href="#">INICIO<span class="sr-only">(current)</span></a>
            </li>
          </div>
          <div class="inicio">
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">APROBAR</a>
            </li>
          </div>
          <div class="inicio">
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">SEGUIMIENTO</a>
            </li>
          </div>
          <div class="inicio">
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">REPORTES</a>
            </li>
          </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <nav class="navbar bg-body-tertiary">
 
  <!-- CONTENEDOR DEL FONDO Y EL LETRERO -->
  <div class="fondo rounded-top">
    <div class="container-letrero rounded-top">
      <div class="container-fluid">
        <a class="navbar-brand-2">SOLICITUD DE PRESTAMOS</a>
        <form class="d-flex" role="search">
          <input class="form-control me-2 " type="search" placeholder="buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"> <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
        </form>
      </div>
    </nav>
    </div>
   

         
</body>
