<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/control.css">
  <%- include('./partials/boostrap.ejs') %>
  <title>Control de aulas SENA</title>
</head>



<body>
  <!--Contenedor de logos-->
  <div class="container-logos">
    <div class="user">
      <i class="fa-solid fa-bell fa-3x"></i>
      <i class="fa-solid fa-user-gear fa-3x"></i>
    </div>
  </div>
  <!--Contenedor de la imagen-->
  <div class="container">
    <img src="/resources/img/logoSena.png" width="200px" class="mx-auto d-block">
  </div>
  <!-- contenedor del menu -->
  <div class="container-menu">
    <nav class="navbar navbar-expand mt-8 text-aling-center">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- contenedor de los elementos del menu  -->
        <div class="container-items">
          <div class="inicio">
            <li class="nav-init active">
              <a class="nav-link text-dark" href="#">INICIO<span class="sr-only">(current)</span></a>
            </li>
          </div>
          <div class="control">
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">CONTROL DE AULAS</a>
            </li>
          </div>
          <div class="prestamo">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle  text-dark" href="#" role="button" data-toggle="dropdown"
                aria-expanded="false">
                PRESTAMOS
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">AMBIENTES</a>
                <a class="dropdown-item" href="#">HERRAMIENTAS</a>
                <a class="dropdown-item" href="#">MATERIALES</a>
              </div>
            </li>
          </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- CONTENEDOR DEL FONDO Y EL LETRERO -->
  <div class="fondo rounded-top">
    <div class="container-letrero rounded-top">
      Control de aulas
    </div>
    <div class="container-letrero-control rounded-top">
        <section class="control-reportes">
        Reporte de aulas
    </section>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>
      </div>
    </div>
</body>
