<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ressources/css/style.css">
    <%- include('./partials/boostrap.ejs') %>


    <title>PRESTAMOS DE INSUMOS SENA</title>
</head>
<body>
   <nav>
    <ul class="menu">
        <li><a href="#">INICIO</a></li>
        <li><a href="#">APROBAR</a></li>
        <li><a href="#">SEGUIMIENTO</a></li>
        <li><a href="#">REPORTES</a></li>

    </ul>

   </nav>
    
</body>
</html>