<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/menu.css">
    <%- include('./partials/boostrap.ejs') %>

    <title>Menu Prestamos SENA</title>
</head>

<body>
    <!--Contenedor de iconos-->
    <div class="container-iconos">
        <div class="user">
            <i class="fa-solid fa-bell fa-3x"></i>
            <i class="fa-solid fa-user-gear fa-3x"></i>
        </div>
        <!--Contenedor de la imagen-->
        <div class="container">
            <img src="/resources/img/logoSena.png" width="200px" class="mx-auto d-block">
        </div>

        <!-- contenedor del menu -->
        <div class="fondo">
            <div class="container-menu">
                <nav class="navbar navbar-expand mt-8 text-aling-center">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <!-- contenedor de los elementos del menu  -->
                        <div class="container-items">
                            <div class="inicio">
                                <li class="nav-init active">
                                    <a class="nav-link text-light" href="#">INICIO<span
                                            class="sr-only">(current)</span></a>
                                </li>
                            </div>
                            <div class="control">
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="#">CONTROL DE AULAS</a>
                                </li>
                            </div>
                            <div class="prestamo">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle  text-light" href="#" role="button"
                                        data-toggle="dropdown" aria-expanded="false">
                                        PRESTAMOS
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">AMBIENTES</a>
                                        <a class="dropdown-item" href="#">HERRAMIENTAS</a>
                                        <a class="dropdown-item" href="#">MATERIALES</a>
                                    </div>
                                </li>
                            </div>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- CONTENEDOR DE EL MENSAJE -->
            <div class="bienvenido text-light rounded-top">
                <div class="texto">¡Bienvenido!</div>
                <div class="parrafo rounded-bottom">
                    <div class="enunciado">
                        <p>Este recurso le permitirá acceder a los diferentes prestamos
                            que se pueden realizar en el centro</p>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>