<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/resources/css/prestamoPC3.css">
    <%- include('./partials/boostrap.ejs') %>
        <title>Prestamo PC SENA</title>
</head>



<body>
    <!--Contenedor de logos-->
    <div class="container-logos">
        <div class="user">
            <i class="fa-solid fa-bell fa-3x"></i>
            <i class="fa-solid fa-user-gear fa-3x"></i>
        </div>
    </div>
    <!--Contenedor de la imagen-->
    <div class="container">
        <img src="/resources/img/logoSena.png" width="200px" class="mx-auto d-block">
    </div>
    <!-- contenedor del menu -->
    <div class="container-menu">
        <nav class="navbar navbar-expand mt-8 text-aling-center">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <!-- contenedor de los elementos del menu  -->
                <div class="container-items">
                    <div class="inicio">
                        <li class="nav-init active">
                            <a class="nav-link text-dark" href="/menu">INICIO<span class="sr-only">(current)</span></a>
                        </li>
                    </div>
                    <div class="control">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">CONTROL DE PC</a>
                        </li>
                    </div>
                    <div class="prestamo">
                        <li class="nav-item dropdown">
                            <a class="nav-link  text-dark" href="#" role="button" data-toggle="" aria-expanded="false">
                                PRESTAMO PC
                            </a>
                            <!-- <div class="dropdown-menu">
                <a class="dropdown-item" href="#">PC</a>
              </div> -->
                        </li>
                    </div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- CONTENEDOR DEL FONDO Y EL LETRERO -->
    <div class="fondo rounded-top">
        <div class="container-letrero rounded-top">
            PRESTAMO
        </div>
        <!-- CONTENEDOR DEL AVISO -->
        <div class="aviso">
            <!-- div del logo -->
            <div class="logood">
                <i class="fa-solid fa-circle-check fa-6x" style="color: #5baf23;"></i>
            </div>
            <!-- div del enunciado -->
            <div class="enunciado">
                <h3>LA RESERVA FUE REALIZADA CORRECTAMENTE</h3>
                <br>
                <h4>Recuerde devolver el computador <br>una vez vencido el tiempo de la reserva</h4>
            </div>
            <!-- div del boton y texto del comprobante -->
            <div class="texco">
                <!-- div cajon de texto -->
                <div class="texcom">
                    <div class="texto-compro">
                    <h7>GENERAR COMPROBANTE</h7>
                </div>
                    <div class="locom">
                        <i class="fa-solid fa-download fa-3x" style="color: #474343;"></i>
                    </div>
               
                </div>
                <!-- div comprobante
                <div class="locom">
                    <i class="fa-solid fa-circle-check" style="color: #5baf23;"></i>
                </div> -->
            </div>
            <!-- div numero de computador -->
            <div class="numcom">
            <h4> <br><br>El numero de computador <br> asignado es:</h4>
            </div>
            <!-- div boton -->
            <div class="btnfinalizar">
                <input type="submit" class="reserva-btn" value="FINALIZAR">
            </div>
        </div>
</body>