*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/* MENU */

nav {
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 5%;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
  background-color: #fff;
  color: #39a900;
}
/* responsive menu */
 @media screen and (max-width: 768px) {
    nav {
      padding: 0 10px;
      margin-left: 0;
      margin-right: 0;
      height: auto;
    }
    
    nav ul {
      flex-direction: column;
      align-items: center;
    }
    
    nav ul li {
      margin-right: 0;
      margin-top: 10px;
    }
    
    nav ul li:last-child {
      margin-bottom: 10px;
    }
    
    nav ul li a {
      font-size: 20px;
    }
  }

/* CONTENEDORES DESPUES DE MENU*/

.container{
  margin-bottom: 40px;
  }

.fondo{
  margin: 50px;
  height: 1300px;
  background-color: #a8a8a8;
}
@media screen and (max-width: 768px) {
  .fondo{
   margin-left: 10px;
   margin-right: 10px;
 
  }
 }

.container-letrero{
  margin: 0px;
  height: 70px;
  text-align: center;
  font-size: 40px;
  background-color: #39a900;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Solicitudes prestamos */
.titulo{

  height: 70px;
  text-align: left;
  /* arriba,derecha,abajo,izquierda */
  padding: 5px 0 0 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Responsive titulo contenedor */
@media screen and (max-width: 768px) {
  .titulo{
    padding: 20px 0 0 2em;
   font-size: 55%;
  }
  .container-reporte{
  height: 50px;
  }
}


/* estilos del buscador */
.buscador{

  position: relative;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 20px;

}

/* colores del texto del buscador y del borde */
.buscador input{
  width: 0;
  height: 40px;
  padding: 0 30px;
  font-size: 18px;
  color: #000;
  outline: none;
  border: 1px solid rgb(16, 16, 16);
  border-radius: 30px;
  transition: all 0,6s ease;



}

.btn{
   position: absolute;
  top: 20px;
  right: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;


}

.buscador:hover input{
  width: 500px;
} 

.buscador input:focus {
  width: 500px;
} 
@media screen and (max-width: 768px) {
  .buscador{

      margin-right: 10px;
      margin-bottom: 10px;
  
  }
  
  /* colores del texto del buscador y del borde */
  .buscador input{
    height: 30px;
    padding: 0 30px;
    font-size: 10px;

  }
  
  .btn{
    top: 20px;
    width: 50px;
  }
  
  .buscador:hover input{
    width: 120px;
  } 
  
  .buscador input:focus {
    width: 120px;
  } 
}


/* Estilos para la informacion del prestamo */
.tinfo{
  margin-left: 50px;

}

.info{
  margin: 50px;
  margin-left: 50px;
  margin-top: 50px;
  height: 70px;
  font-size: 40px;
  background-color: rgb(230, 230, 230)
}
@media (max-width: 768px) {
  .tinfo {
    margin-left: 5%;
    margin-top: 10%;
    font-size: 17px;
  
  }
  
  .info {
    margin: 5%;
    margin-left: 2%;
    margin-top: 5%;
    height: 4em;
    width: 95%;
    font-size: 20px;
  }
}
/* estilos para los botones de aceptar y rechazar prestamo */

.btnAceptar{

 margin-left: 300px;
  color: white;
  background-color: #39a900;
  line-height: 55px;
 border: #39a900;
 border-radius: 2%;
height: 56px;
width: 160px;
font-size: 25px;

}
.btnRechazar{

  color: white;
  background-color: #a90025;
  line-height: 55px;
 border: #a90025;
 border-radius: 2%;
height: 56px;
width: 160px;
font-size: 25px;
margin-left: 50px;

}

.fa-sharp{
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .btnAceptar{
 
    margin-left: 5%;
    line-height: 20px;
    height: 50px;
    width: 15%;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .btnRechazar {
   
    line-height: 20px;
    height: 50px;
    width: 15%;
    font-size: 10px;
    margin-left: 4%;
  }
  .fa-sharp{
    margin-left: 10px;
  }
}
