/*prueba*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* CONTENEDORES */
.container-menu{
  background-color: rgb(230, 230, 230);
 margin-left: 250px;
 margin-right: 250px;
 margin-top: 10px;
 height: 100px;
} 

.fondo{
  margin: 50px;
  height: 1300px;
  background-color: #a8a8a8;
}

.container{
margin-bottom: 40px;
}

.container-items{
	margin-top: 15px;
  list-style: none;
  margin-left: 190px;
  font-size: 30px;
}

.bienvenido{
  margin: 50px;
  height: 75px;
  background-color: #333;
  margin-top: 230px;
 
}

.parrafo{
  margin: 0px;
  height: 250px;
  background-color: #585757;
  
}

.container-letrero{
  margin: 0px;
  height: 70px;
  text-align: center;
  font-size: 40px;
  background-color: #39a900;
}

.container-letrero{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ITEMS DE LA BARRA */
.inicio{
  float:left;
  margin-right: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.control{
  float:left;
  margin-right: 100px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.prestamo{
  float: left;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inicio > li:hover{
  background-color: #888686;
}

.control> li:hover{
  background-color: #888686;
}

.prestamo > li:hover{
  background-color: #888686;
}
/* TEXTO */
.texto{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
}

.enunciado{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 45px;
}


/* LOGOS */
.user{
  margin-left: 1400px;
}

.user > i{
  margin: 20px;
}

/* FORMULARIO */

.formulario {
  display: flex;
  margin-left: 500px;
  align-items: center;
  height: 100vh;
}

.forma-formulario {
  background-color: white;
  width: 600px;
  padding: 40px 40px;
  margin-top: 400px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
}

.titulo{
  font-size: 50px;
  margin-bottom: 50px;
}

.contenedor-items-formulario{
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
  
}

.items{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.tipo{
  position: absolute;
  bottom: 50px;
}

/* TEXTO MARCADOR */
::placeholder {
  color: transparent;
}

/* HACE QUE EL TEXTO SE VEA DENTRO DEL DIV */
.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

/* BOTONES */ 

.reserva-btn {
  position: relative;
  padding: 15px 30px;
  border: none;
  left: 70px;
  background-color: #39a900;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.cancelar-btn {
  position: relative;
  margin-top: 30px;
  left: 120px;
  padding: 15px 30px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}


/* EFECTO DENTRO DEL TEXTO */
.items:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #39a900;
}

.items:focus {
  border: 2px solid #39a900;
}

/* CARRUSEL */

#carouselExampleIndicators{
  top: -30px;
  position:relative;
  width: 520px;
  background-color: #888686;
  border-radius: 10px;
}

.carousel-item{
  text-align: center;
}

.fondo-img{
  margin: 70px;
}












 


