/* MENU USUARIO */
.container-logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user{
    position: relative;
    left: 750px;
    display: flex;
  
  }
  
  .user > i{
    margin: 20px;
    font-size: 3rem;
    cursor: pointer;
  }
  
  .user :hover{
    color: #39a900;
    transform: scale(0.9);
  }
  
  .menu {
    position:fixed;
    top: 90px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0.5rem;
    z-index: 1;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0.5rem 0;
  }
  
  .menu a {
    position: relative;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    color:  #39a900;
    transition:  0.2s ;
    margin-right: 8px;
  }
  
  .menu a:hover {
    background-color: #f5f5f5;
  }
  /* NOTIFICACIONES */
  .bell {
    position: relative;
   left: 700px;
  }
  
  .bell .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bell :hover{
    color: #39a900;
    transform: scale(0.9);
  }
  
  /* FUNCIONALIDAD JS */
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  /* RESPONSIVE DE LOS ICONOS */
  @media screen and (max-width: 1500px) {
    .user {
      left: 45%;
      transform: translateX(-50%);
    }
    
    .bell {
      left: 40%;
      transform: translateX(-50%);
    }
    
    .menu {
      top: 130px;
      right: 5px;
    }
    
    .menu a {
      font-size: 0.8rem;
      padding: 0.3rem;
      margin-right: 0;
    }
    
    .menu li {
      margin: 0.3rem 0;
      flex-direction: vertical;
      align-items: center;
    }
    
    .bell .badge {
      top: -6px;
      right: -6px;
      width: 12px;
      height: 12px;
      font-size: 0.7rem;
    }
  }
  @media screen and (max-width: 600px) {
    .user {
      left: 200px;
    }
    
    .bell {
      left: 160px;
    }
    
    .menu {
      top: 80px;
      right: 5px;
      padding: 0.3rem;
    }
    
    .menu a {
      font-size: 0.7rem;
      padding: 0.2rem;
    }
    
    .menu li {
      margin: 0.2rem 0;
    }
    
    .bell .badge {
      top: -4px;
      right: -4px;
      width: 10px  
    }
  }

  
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-contenido {
    background-color: #fff;
    margin: 10% auto;
    padding: 40px;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
  }
  
  .modal-cerrar {
    display: inline-block;
    float: right;
    cursor: pointer;
  }

  .contenedor-items-formulario1{
    position: relative;
    height: 35px;
    width: 70%;
    margin-bottom: 17px;
  }
  .items4{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }

  ::placeholder {
    color: black;
  }

  .items4:focus {
    border: 2px solid #39a900;
}
  

