 /* Estilo del footer */
 footer {
  background-color: green; /* color de fondo */
  color: white; /* color del texto */
  height: 30px; /* altura del footer */
  line-height: 30px; /* altura de línea del texto */
  position: fixed; /* posición fija */
  bottom: 0; /* colocado en la parte inferior */
  width: 100%; /* ancho al 100% */
}

/* Estilo del párrafo dentro del footer */
footer p {
  margin: 0; /* margen de 0 */
  animation: move-text 20s infinite; /* animación para mover el texto */
}

/* Animación para mover el texto */
@keyframes move-text {
  from { transform: translateX(0); } /* comienza desde la posición x = 0 */
  to { transform: translateX(100%); } /* termina en la posición x = 100% (fuera de la pantalla) */
}

/* Cambia la opacidad cuando el cursor está sobre #footer-test */
#footer-test:hover {
  opacity: 0; /* opacidad 0 cuando el cursor está sobre el elemento */
  transition: opacity 0.5s ease-in-out; /* transición suave */
}

/* Establece la opacidad cuando el cursor no está sobre #footer-test */
#footer-test:not(:hover) {
  opacity: 1; /* opacidad 1 cuando el cursor no está sobre el elemento */
  transition: opacity 0.5s ease-in-out; /* transición suave */
}

/* Animación para mover el texto cuando el cursor no está sobre #footer-test */
#footer-test:not(:hover) p {
  animation: move-text 20s infinite; /* animación para mover el texto */
}

/* Estilos para el efecto de hover en los enlaces de la barra de navegación */
.navbar-nav .nav-link:hover {
  background-color: grey; /* Cambia el color de fondo al hacer hover en el enlace */
  transition: background-color 0.3s ease-in-out; /* Agrega una transición suave de 0.3 segundos para el cambio de color de fondo */
}
/*V3*/