
/* CONTENEDORES */

.fondo{
  margin: 50px;
  height: 1050px;
  background-color: #a8a8a8;
}

.container-letrero{
  margin: 0px;
  height: 70px;
  text-align: center;
  font-size: 40px;
  background-color: #39a900;
}

.container-letrero{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* FORMULARIO */

.formulario {
  display: flex;
  margin-left: 100px;
  align-items: center;
  height: 100vh;
}

.forma-formulario {
  position: relative;
  background-color: white;
  width: 400px;
  padding: 20px 40px;
  left: 50px;
  bottom: -30px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
}

.titulo{
  font-size: 50px;
  margin-bottom: 50px;
}

.contenedor-items-formulario{
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
  
}

.items{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

/* TEXTO MARCADOR */
::placeholder {
  color: transparent;
}

/* HACE QUE EL TEXTO SE VEA DENTRO DEL DIV */
.label {
  position: absolute;
  top: 15px;
  left: 5px;
  padding: 0 4px;
  background-color: white;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

/* BOTONES */ 

.reserva-btn {
  position: relative;
  padding: 15px 30px;
  border: none;
  background-color: #39a900;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.cancelar-btn {
  position: relative;
  margin-top: 50px;
  left: 50px;
  padding: 15px 30px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}


/* EFECTO DENTRO DEL TEXTO */
.items:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #39a900;
}

.items:focus {
  border: 2px solid #39a900;
}

/* CARRUSEL */

#carouselExampleIndicators{
  bottom: -10px;
  position:relative;
  left: 250px;
  width: 700px;
  background-color: #39a900;
  border-radius: 10px;
}

.carousel-item{
  text-align: center;
}

.fondo-img{
  margin: 70px;
}

.boton-devolucion{
  margin-top: 650px;
  width: 100px;
  position: absolute;
  right: 40%;
  
}

.contenedor-items-formulario input:focus ~ label,
.contenedor-items-formulario input:not(:placeholder-shown) ~ label {
top: 0;
font-size: 12px;
color: #707070;
}

.contenedor-items-formulario input:placeholder-shown ~ label {
top: 50%;
transform: translateY(-50%);
font-size: 16px;
color: #a0a0a0;
}

.contenedor-items-formulario input:not(:placeholder-shown) ~ label {
  top: calc(100% - 60px);
  font-size: 12px;
  color: #707070;
}

