*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* LOGOS */
.container-logos {
  display: flex;
  justify-content: flex-end;
}
.user{
  position: relative;
  margin-left: 1600px;
  display: flex;
  flex-direction: row;
}

.user > i{
  margin: 20px;
  font-size: 3rem;
}


/* responsive iconos administrativos */

@media screen and (max-width: 768px) {
  .user i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .user i {
    font-size: 1.5rem;
  }
}

/* MENU */

nav {
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 5%;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
  background-color: #fff;
  color: #39a900;
}
/* responsive menu*/
 @media screen and (max-width: 768px) {
    nav {
      padding: 0 10px;
      margin-left: 0;
      margin-right: 0;
      height: auto;
    }
    
    nav ul {
      flex-direction: column;
      align-items: center;
    }
    
    nav ul li {
      margin-right: 0;
      margin-top: 10px;
    }
    
    nav ul li:last-child {
      margin-bottom: 10px;
    }
    
    nav ul li a {
      font-size: 20px;
    }
  }

/* CONTENEDORES */
.container-menu{
  background-color: rgb(230, 230, 230);
 margin-left: 250px;
 margin-right: 250px;
 margin-top: 10px;
 height: 100px;
} 

.fondo{
  margin: 50px;
  height: 1000px;
  background-color: #a8a8a8;
}

.container{
margin-bottom: 40px;
}

.container-items{
	margin-top: 15px;
  list-style: none;
  margin-left: 190px;
  font-size: 30px;
}


.container-letrero{
  margin: 0px;
  height: 70px;
  text-align: center;
  font-size: 40px;
  background-color: #39a900;
}

.container-letrero{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ITEMS DE LA BARRA */
.inicio{
  float:left;
  margin-right: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.control{
  float:left;
  margin-right: 100px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.prestamo{
  float: left;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inicio > li:hover{
  background-color: #888686;
}

.control> li:hover{
  background-color: #888686;
}

.prestamo > li:hover{
  background-color: #888686;
}

/* LOGOS */
.user{
  margin-left: 1400px;
}

.user > i{
  margin: 20px;
}

/* contenedor del aviso */
 .aviso{
  margin-top: 50px;
  margin-left: 330px;
  margin-right: 330px;
  height: 800px;
  border-radius: 5px;
  border-color:#6a6e6e;
  border-width: 2px;
  border-style: solid;
  background-color: #DADCE0;
}
.enunciado{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 55px;
}
.texcom{
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 8px;
    border-width: 3px;
    border-color:#6a6e6e;
    border-style: solid;
    height: 60px;
    text-align:right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.numcom{
    border-width: 3px;
    border-color:#1f2020;
    border-style: solid;
    height: 240px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    padding: 2em;
    line-height:normal;
    letter-spacing: 0.01em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btnfinalizar{
    margin-top: 40px;
}
.reserva-btn {
    position: relative;
    padding: 15px 50px;
    border: none;
    left: 315px;
    background-color: #39a900;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
.contalert{
text-align: center;
margin-top: 20px;
}