*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* LOGOS */
.container-logos {
  display: flex;
  justify-content: flex-end;
}
.user{
  position: relative;
  margin-left: 1600px;
  display: flex;
  flex-direction: row;
}

.user > i{
  margin: 20px;
  font-size: 3rem;
}


/* responsive iconos administrativos */

@media screen and (max-width: 768px) {
  .user i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .user i {
    font-size: 1.5rem;
  }
}

/* MENU */

nav {
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 5%;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
  background-color: #fff;
  color: #39a900;
}
/* responsive menu*/
@media screen and (max-width: 768px) {
  nav {
  padding: 0 10px;
  margin-left: 0;
  margin-right: 0;
  height: 70px;
  }
  
  nav ul {
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  }
  
  nav ul li {
  margin-right: 10px; 
  margin-top: 20px; 
  margin-bottom: 0; 
  }
  
  nav ul li:last-child {
  margin-right: 0; 
  }
  
  nav ul li a {
  font-size: 20px;
  }
  }

/* estilos de la tabla */
#tabla-solicitudes {
  border-collapse: collapse;
  width: 96%;
 margin-top: 2rem;
 margin-left: 2rem;
  
}


/* CONTENEDORES DESPUES DE MENU*/

.container{
  margin-bottom: 40px;
  }


/* estilos del buscador */

/* colores del texto del buscador y del borde */
.buscador input{
  width: 0;
  height: 40px;
  padding: 0 30px;
  font-size: 18px;
  color: #faf8f8;
  outline: none;
  border: 1px solid rgb(16, 16, 16);
  border-radius: 30px;
 background-color: #0b0b0b;



}






/* icono de sobre y ojo */
.fa-sharp{
  margin-left: 50px;
  cursor: pointer;
}







#tabla-solicitudes th, #tabla-solicitudes td {
 
  padding: 8px;
  text-align: center;
}

#tabla-solicitudes th {
  background-color: #39a900;

  
}

#tabla-solicitudes tbody tr:first-child td:first-child {
  text-align: left;
}

#tabla-solicitudes input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 6px;
  box-sizing: border-box;
}

#tabla-solicitudes .buscador {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

#tabla-solicitudes .buscador label {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 6px;
}

#tabla-solicitudes tfoot td {
  text-align: center;
}

#tabla-solicitudes tfoot i {
  margin-left: 10px;
}

#tabla-solicitudes .fa-regular {
  margin-left: 5px;
}

#tabla-solicitudes .fa-solid {
  margin-left: 10px;
}

.info1 {
  color: #888888;
  font-size: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

.fondo{
  
  height: 100px;
  background-color: #a8a8a8;
}

.info{
  
  background-color: rgb(230, 230, 230)
  
}