*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	background-image: url(img/fondo.jpg);
	background-size: cover;
}
nav{
	max-width: 900px;
	margin: auto;
	background-color: green;
	font-size: 20px;
	margin-top: 50px;
}
.menu{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu> li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu> li:hover{
	background-color: #333;
}

.menu li:hover{
	display: block;
}


#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;

}