<!doctype html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Switch Logo</title>
  <link rel="stylesheet" media="all" href="/resources/css/style.css" />
</head>
<body>
<div class="logo">
  <img src="/resources/img/logoSena.png" alt="Logo">
  <span class="logo-title">PrestaTodito</span>
  <p class="logo-subtitle">Su sesión ha finalizado</p>
  <a href="/index" class="vi">Volver a ingresar</a>
  </div>
</body>
</html>