<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de inventario</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/resources/css/registroInventario.css">
    <%- include('./partials/boostrap.ejs') %> 

</head>


<body>
  
<%- include('./partials/administrador.ejs') %>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bg-success p-3 text-center mt-4">
          <h3>REGISTRO DE MATERIAL</h3>
        </div>
        <div class="mt-4">
          <form action="guardar" method="post">
            <div class="form-group row">
              <label for="tipo" class="col-sm-2 col-form-label">Nombre <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <input type="text" name="NOMBRE" class="form-control" id="nombre" placeholder="Introduca el nombre del material">
              </div>
            </div>
            <div class="form-group row">
              <label for="tipo" class="col-sm-2 col-form-label">Tipo <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <input type="text" name="TIPO" class="form-control" id="tipo" placeholder="Introduca el tipo del material">
              </div>
            </div>
            <div class="form-group row">
              <label for="color" class="col-sm-2 col-form-label">Color <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <input type="text" name="COLOR" class="form-control" id="color" placeholder="Introduzca el color del material">
              </div>
            </div>
            <div class="form-group row">
              <label for="medidas" class="col-sm-2 col-form-label">Medidas <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="MEDIDAS" id="medidas" placeholder="Introduzca las medidas">
              </div>
            </div>
            <div class="form-group row">
              <label for="imagen" class="col-sm-2 col-form-label">Insertar imagen: <span class="text-danger">*</span></label>
              <div class="col-sm-4">
                <div class="input-group">
                  <div class="d-flex align-items-center">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-success" type="button" onclick="document.getElementById('imagen').click()"><i class="fas fa-eye"></i></button>
                      <span class="mx-1"></span>
                      <button class="btn btn-outline-danger" type="button" onclick="eliminarImagen()"><i class="fas fa-trash"></i></button>
                    </div>
                  </div> 
                  <div class="ml-3">
                    <input type="file" name="IMAGEN" id="imagen" style="display: none;" accept=".jpg,.png" onchange="previewImage()">
                  </div>
                </div>
              </div> 
              <div class="preview-container ml-5 mt-2">
                <img id="preview" style="max-width: 100%; max-height: 200px;">
              </div>
              <div id="modalPreview" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img id="modalPreviewImage" style="max-width: 100%; max-height: 80vh;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2"></div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Nuevo registro</button>
                <button type="button" class="btn btn-danger" onclick="limpiarCampos()">Limpiar campos</button>
              </div>
            </div>
          </form>
        </div> 
      </div>
    </div>
    </div>
    



</body>

<%- include('./partials/footer.ejs') %>

</html>

<!--V3-->