<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Rol</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/rol.css">
  <%- include('./partials/boostrap.ejs') %> 
</head>
<body>
  <%- include('./partials/administrador.ejs') %> 

  <div class="form-container">
    <img src="/resources/img/logo.png" class="rounded-circle mx-auto d-block" alt="User Image">
    <h2 class="text-center mb-4">Seleccione un rol</h2>
    <form action="/registrarRol" method="POST">
      <div class="form-group mb-3">
        <label for="rol">Rol:</label>
        <select class="form-control" id="select-rol" name="nombre_rol">
          <option hidden value="">-- Seleccione un rol --</option>
          <option href="" value="/registroaprendiz">Aprendiz</option>
          <option value="instructor">Instructor</option>
          <option value="coordinador">Coordinador</option>
          <option value="administrador">Administrador</option>
        </select>
      </div>
      <button id="btn-aceptar" type="submit" class="btn btn-success btn-block">Aceptar</button>
    </form>
  </div>
</body>
<script src="/resources/js/rol.js"></script>

<%- include('./partials/footer.ejs') %>


</html>
<!--V3-->